{% load url from future %}
<tr class='title'><td colspan='2'>
	<table class='innertable'>
		<thead><tr><th>Pollutant</th><th>Efficiency</th><th>Value</th></tr></thead>
	</table>
</td></tr>
<tr><td colspan='2'>
	<form class='new' method='post' action='{% url 'process_interface:new_emissionactivity' analysis_id=analysis.pk process_id=process.pk %}'>
	{% csrf_token %}
	<input type='submit' name='' value='Save' />
	<table class='innertable'>
		<tbody>
			<tr><td>{{ form.pol }}</td><td>{{ form.eff }}</td><td>{{ form.val }}</td></tr>
		</tbody>
	</table>
	</form>
</td></tr>
