{% load url from future %}{% for pc in process_characteristics %}
<div>
<form method='post' action='{% url 'process_interface:update_process' analysis_id=analysis.pk process_id=pc.ProcessId %}'>
{% csrf_token %}
{% if pc.form_process.costfixed_datalist %}
<datalist id='{{ pc.form_process.costfixed_datalist_id }}'>
	{% for val in pc.form_process.costfixed_datalist %}
	<option value='{{ val }}'>{% endfor %}
</datalist>
{% endif %}
{% if pc.form_process.costvariable_datalist %}
<datalist id='{{ pc.form_process.costvariable_datalist_id }}'>
	{% for val in pc.form_process.costvariable_datalist %}
	<option value='{{ val }}'>{% endfor %}
</datalist>
{% endif %}
<input type='submit' name='' value='' />
<input type='hidden' name='data_part' value='Process' />
<table class='process'>
	<thead><tr{{ pc.form_process.errors|yesno:" class='error',"|safe }}><th colspan='2'>{{ pc.Technology }}, {{ pc.Vintage }}</th></tr></thead>
	<tbody>
		<tr class='{% cycle 'odd' 'even' as rowclass %}{{ pc.form_process.discountrate.errors|yesno:' error,' }}'><th>{{ pc.form_process.discountrate.label_tag }}</th><td>{{ pc.form_process.discountrate }}</td></tr>
		<tr class='{% cycle rowclass %}'><th>Baseload</th><td class='{{ pc.Baseload|yesno:'is_member,is_not_member' }}'></td></tr>
		<tr class='{% cycle rowclass %}'><th>Storage</th><td class='{{ pc.Storage|yesno:'is_member,is_not_member' }}'></td></tr>
		<tr class='{% cycle rowclass %}{{ pc.form_process.lifetime.errors|yesno:' error,' }}'><th>{{ pc.form_process.lifetime.label_tag }}</th><td>{{ pc.form_process.lifetime }}</td></tr>
		<tr class='{% cycle rowclass %}{{ pc.form_process.loanlife.errors|yesno:' error,' }}'><th>{{ pc.form_process.loanlife.label_tag }}</th><td>{{ pc.form_process.loanlife }}</td></tr>
		<tr class='{% cycle rowclass %}{{ pc.form_process.costinvest.errors|yesno:' error,' }}{{ pc.form_process.existingcapacity.errors|yesno:' error,' }}'><th>{{ pc.form_process.costinvest.label_tag }}{{ pc.form_process.existingcapacity.label_tag }}</th><td>{{ pc.form_process.costinvest }}{{ pc.form_process.existingcapacity }}</td></tr>
	</tbody>
</table>
</form>

<table class='process'>
	<tbody class='{% cycle rowclass %}'>
		<tr><th>Efficiency</th><td><button class='add' type='button' data-url='{% url 'process_interface:new_efficiency' analysis_id=analysis.pk process_id=pc.ProcessId %}'>Add</button></form></td></tr>
		{% if pc.forms_efficiency %}
		<tr class='title'><td colspan='2'>
			<table class='innertable'>
				<thead><tr><th>Input</th><th>Output</th><th>Percent</th></tr></thead>
			</table>
		</td></tr>
		{% for eform in pc.forms_efficiency %}
		<tr><td colspan='2'>
			<form method='post' action='{% url 'process_interface:update_efficiency' analysis_id=analysis.pk process_id=pc.ProcessId efficiency_id=eform.pk %}'>
			{% csrf_token %}
			<input type='submit' name='' value='Save' />
			<table class='innertable'>
				<tbody>
					<tr><td>{{ eform.inp }}</td><td>{{ eform.out }}</td><td>{{ eform.eff }}</td></tr>
				</tbody>
			</table>
			</form>
		</td></tr>
		{% endfor %}
		{% endif %}
	</tbody>
	<tbody class='{% cycle rowclass %}'>
		<tr><th>Emission Activity</th><td><button class='add' type='button' data-url='{% url 'process_interface:new_emissionactivity' analysis_id=analysis.pk process_id=pc.ProcessId %}'>Add</button></form></td></tr>
		{% if pc.forms_emissionactivity %}
		<tr class='title'><td colspan='2'>
			<table class='innertable'>
				<thead><tr><th>Pollutant</th><th>Efficiency</th><th>Value</th></tr></thead>
			</table>
		</td></tr>
		{% for form in pc.forms_emissionactivity %}
		<tr><td colspan='2'>
			<form method='post' action='{% url 'process_interface:update_emissionactivity' analysis_id=analysis.pk process_id=pc.ProcessId emissionactivity_id=form.pk %}'>
			{% csrf_token %}
			<input type='submit' name='' value='Save' />
			<table class='innertable'>
				<tbody>
					<tr><td>{{ form.pol }}</td><td>{{ form.eff }}</td><td>{{ form.val }}</td></tr>
				</tbody>
			</table>
			</form>
		</td></tr>
		{% endfor %}
		{% endif %}
	</tbody>
	<tbody class='{% cycle rowclass %}'>
		<tr><th>Cost Fixed</th><td><button class='add' type='button' data-url='{% url 'process_interface:new_costfixed' analysis_id=analysis.pk process_id=pc.ProcessId %}'>Add</button></form></td></tr>
		{% if pc.forms_costfixed %}
		<tr class='title'><td colspan='2'>
			<table class='innertable'>
				<thead><tr><th>Period</th><th>Value</th></tr></thead>
			</table>
		</td></tr>
		{% for form in pc.forms_costfixed %}
		<tr><td colspan='2'>
			<form method='post' action='{% url 'process_interface:update_costfixed' analysis_id=analysis.pk process_id=pc.ProcessId costfixed_id=form.pk %}'>
			{% csrf_token %}
			<input type='submit' name='' value='Save' />
			<table class='innertable'>
				<tbody>
					<tr><td>{{ form.per }}</td><td>{{ form.val }}</td></tr>
				</tbody>
			</table>
			</form>
		</td></tr>
		{% endfor %}
		{% endif %}
	</tbody>
	<tbody class='{% cycle rowclass %}'>
		<tr><th>Cost Variable</th><td><button class='add' type='button' data-url='{% url 'process_interface:new_costvariable' analysis_id=analysis.pk process_id=pc.ProcessId %}'>Add</button></form></td></tr>
		{% if pc.forms_costvariable %}
		<tr class='title'><td colspan='2'>
			<table class='innertable'>
				<thead><tr><th>Period</th><th>Value</th></tr></thead>
			</table>
		</td></tr>
		{% for form in pc.forms_costvariable %}
		<tr><td colspan='2'>
			<form method='post' action='{% url 'process_interface:update_costvariable' analysis_id=analysis.pk process_id=pc.ProcessId costvariable_id=form.pk %}'>
			{% csrf_token %}
			<input type='submit' name='' value='Save' />
			<table class='innertable'>
				<tbody>
					<tr><td>{{ form.per }}</td><td>{{ form.val }}</td></tr>
				</tbody>
			</table>
			</form>
		</td></tr>
		{% endfor %}
		{% endif %}
	</tbody>
</table>
</div>
{% endfor %}
