{% load url from future %}
{% if authed %}
<form method='post' action='{% url 'process_interface:process_new' analysis_id=analysis_id %}'>
	{% csrf_token %}
	<input type='submit' name='' value=''>
	<table class='items'>
		<thead><tr><th><button class='add' type='button' data-url='{% url 'process_interface:process_new' analysis_id=analysis_id %}'>Add</button></th><th>Technology</th><th>Vintage</th></tr></thead>
		<tbody class='ui-selectable'>{% for pk, t, v in processes %}
			<tr data-processid='{{ pk }}' class='{% cycle 'even' 'odd' %}'>
				<td><button class='remove hidden' type='button' data-url='{% url 'process_interface:process_remove' analysis_id=analysis_id process_id=pk %}'>Del</button></td>
				<td>{{ t }}</td><td>{{ v }}</td>
			</tr>{% endfor %}
		</tbody>
	</table>
</form>
{% else %}
<table class='items'>
	<thead><tr><th>Technology</th><th>Vintage</th></tr></thead>
	<tbody class='ui-selectable'>{% for pk, t, v in processes %}
		<tr data-processid='{{ pk }}' class='{% cycle 'even' 'odd' %}'><td>{{ t }}</td><td>{{ v }}</td></tr>{% endfor %}
	</tbody>
</table>
{% endif %}
