{% load url from future %}{% load staticfiles %}<!DOCTYPE html>
<html lang='{{ LANGUAGE_CODE|default:'en-us' }}'>
<head>
	<meta charset='utf-8'>
	<title>TemoaDB | {% block title %}Interact{% endblock %}</title>

	<link rel='stylesheet' type='text/css' href='{% static 'process_interface/css/temoadb.css' %}' />
</head>
<body data-csrftoken='{{ csrf_token }}' {% if username %}data-username='{{ username }}'{% endif %}>
<div id='wrapper'>
	<div id='header'>
		<noscript>
			<h2>No Javascript</h2>
			<p>It appears that either you have disabled Javascript, or your browser does not support it.  TemoaDB does not currently support a non-Javscript interaction.  There is no particular reason against supporting this interaction, other than developer time.  If this is of concern to you, the TemoaProject would welcome patches on this front.  Meanwhile, to use TemoaDB, you will need to turn on Javascript for at least this site.</p>
		</noscript>
		<div id='status' class='hidden'></div>
		{% if not username %}
		<div id='unauthorized'><strong>Guest</strong>: TemoaDB does not currently recognize you.  You may view and download any data in TemoaDB, but you will not be able to make changes.</div>
		{% endif %}
		<button id='ReloadLibs'>Reload Libs</button>
		<h2>TemoaDB</h2>
		<select name='filter_analyses_username' id='filter_analyses_username'>
			<option value='' disabled selected>Choose a username</option>
			<option value='all'>All users</option>
		</select>
		<select id='filter_analyses_analysis'></select>
		<progress id='progress_bar' max='100' value='0' class='hidden'></progress>
	</div>
	<div class='clear'></div>
	<div id='processes' class='hidden'>
		<h2>Processes</h2>
		<div class='filter'>
			<input type='text' name='filter_process' size='10' placeholder='Process Filter'>
			<label>Glob<input type='radio' name='filter_type_process' value='glob' checked></label>
			<label>RE<input type='radio' name='filter_type_process' value='re'></label>
		</div>
		<table class='items'>
			<thead><tr><th>Technology</th><th>Vintage</th></tr></thead>
			<tbody></tbody>
		</table>
	</div>
	<div id='technology_characteristics' class='hidden'>
		<h2>Technology Characteristics</h2>
		<div class='filter'></div>
		<div class='items'></div>
	</div>
	<div id='process_characteristics' class='hidden'>
		<h2>Process Characteristics</h2>
		<div class='filter'></div>
		<div class='items'></div>
	</div>
</div>
<script type='text/javascript' src='{{ JQUERYCD.BASE   }}/jquery.min.js'></script>
<script type='text/javascript' src='{{ JQUERYCD.UI     }}/jquery-ui.min.js'></script>
<script type='text/javascript' src='{{ JQUERYCD.COOKIE }}/jquery.cookie.min.js'></script>
<script type='text/javascript' src='{% static 'process_interface/js/jquery-hotkeys.js' %}'></script>
<script type='text/javascript' src='{% static 'process_interface/js/TemoaDB.js' %}'></script></body>
</html>
