{% load url from future %}{% load staticfiles %}<!DOCTYPE html>
<html lang='{{ LANGUAGE_CODE|default:'en-us' }}'>
<head>
	<meta charset='utf-8'>
	<title>TemoaDB | {% block title %}Interact{% endblock %}</title>

	<link rel='stylesheet' type='text/css' href='{% static 'process_interface/css/temoadb.css' %}' />
</head>
<body>
<div id='wrapper'>
	<div id='header'>
		<noscript>
			<h2>No Javascript</h2>
			<p>It appears that either you have disabled Javascript, or your browser does not support it.  TemoaDB does not currently support a non-Javscript interaction.  There is no particular reason against supporting this interaction, other than developer time.  If this is of concern to you, the TemoaProject would welcome patches on this front.  Meanwhile, to use TemoaDB, you will need to turn on Javascript for at least this site.</p>
		</noscript>
		<div id='status' class='hidden'></div>
		<div id='unauthorized'{{ user.is_authenticated|yesno:" class='hidden',"|safe }}>
			<p><strong>Guest</strong>: TemoaDB does not currently recognize you.  You may view and download any data in TemoaDB, but you will not be able to make changes.  <em>Consider logging in via the upper right corner.</em></p>
			<p>If you would like a username and password, please inquire on the <a href='https://groups.google.com/forum/#!forum/temoa-project'>Temoa Project Forum</a>.  (This is not to discriminate, but rather a necessary measure while we figure out how to appropriately share write-access to our server.)</p>
		</div>
		{% if user.is_authenticated %}
			<a id='LogoutLink' href='{% url 'process_interface:logout' %}'>Logout</a>
		{% else %}
			<form id='LoginForm' method='post' action='{% url 'process_interface:login' %}'>
				{% csrf_token %}
				{{ password_form.username.label_tag }}{{ password_form.username }} {{ password_form.password.label_tag }}{{ password_form.password }}
				<input type='submit' name='' value='Login' />
			</form>
		{% endif %}
		<h2>TemoaDB</h2>
	</div>
	<div id='analysis'><div class='center_wrapper'><button id='ShowHideTechs'>Toggle Database Technologies</button><button id='ShowHideAnalysis'>Toggle Analysis Info</button></div>
		<div id='analysis_info' class='hidden'>
			<form method='post' action=''>
				<input type='text' id='analysis_filter' name='analysis_filter' size='15' placeholder='Analysis Filter'>
				<select id='analysis_selection'>
					<option value=''>Loading analyses ...</option>
				</select>
			</form>
		</div>
		<div id='analysis_detail'></div>
	</div>
	<div class='clear'></div>
	<div id='ProcessList' class='hidden'>
		<h2>Processes</h2>
		<div class='filter'>
			<input type='text' name='filter_process' size='10' placeholder='Process Filter'>
			<label>Glob<input type='radio' name='filter_type_process' value='glob' checked></label>
			<label>RE<input type='radio' name='filter_type_process' value='re'></label>
		</div>
		<div class='items'></div>
	</div>
	<div id='AnalysisProcessDetails' class='hidden'>
		<h2>Process Details</h2>
		<div class='filter'></div>
		<div class='noitems'>No processes selected.  Select one or more processes from the list to the left, or click 'Add' if none currently exist.<div class='items'></div></div>
	</div>
	<div id='AnalysisTechnologyDetails' class='hidden'>
		<h2>Technology Details</h2>
		<div class='filter'></div>
		<div class='items'></div>
	</div>
	<div id='DBTechnologies' class='hidden'>
		<button type='button' id='DBTechnologiesCloseButton' class='closeButton'>Close</button>
		<h2>All Technologies in Database</h2>
		<div id='technology_list'></div>
		<div id='technology_detail'>
			<div id='technology_create'></div>
			<div id='technology_info'></div>
		</div>
	</div>
</div>
<script type='text/javascript' src='{{ CD.JQUERYBASE   }}/jquery.min.js'></script>
<script type='text/javascript' src='{{ CD.JQUERYUI     }}/jquery-ui.min.js'></script>
<script type='text/javascript' src='{{ CD.JQUERYCOOKIE }}/jquery.cookie.min.js'></script>
<script type='text/javascript' src='{{ CD.JQUERYHOTKEYS }}/jquery-hotkeys.js'></script>
<script type='text/javascript' src='{{ CD.CANJS }}/can.jquery.min.js'></script>
<script type='text/javascript' src='{{ CD.D3 }}/d3.v3.js'></script>
<script type='text/javascript' src='{{ CD.D3_DAGRE }}/dagre-d3.js'></script>
<script type='text/javascript' src='{% static 'process_interface/js/TemoaDB.js' %}'></script>
</body></html>
