<div class='technology new'>
	<form>
		<h3><input type='text' class='empty' name='name' placeholder='Technology Name'><span class='error'></span></h3>
		<p><label for='NewTechC2A'>Capacity to Activity:</label> <input id='NewTechC2A' type='number' class='empty' name='capacity_to_activity'><span class='error'></span></p>
		<p><label for='NewTechDescription'>Description:</label><br /><textarea id='NewTechDescription' class='empty' name='description' placeholder='Description.  Explain the naming scheme, where the C2A value comes from, etc.'></textarea><span class='error'></span></p>
		<button type='button' name='Create'>Create</button><button type='button' name='Cancel'>Cancel</button>
		<p class='error'></p>
	</form>
</div>
