<div class='technology' {{#technology}}{{data 'technology'}}{{/technology}}>
	<form onsubmit='return false;' id='TechUpdateForm_{{id}}'></form>

	<h3>{{technology.name}}</h3>
	<p>{{#if technology.description}}{{technology.description}}{{else}}<span class='empty'>No description.  Double click here to add one.</span>{{/if}}</p>
	<table id='TechnologyDetail_GeneralAttributes_{{technology.id}}'>
		<caption title='These are the default values used when a vintage does not otherwise have a value.'>Technology Default Values</caption>
		<thead>
			<tr>
				<th>Attribute</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th><label for='IsBaseload_{{id}}'><span title='If checked, all instances of this technology must have the same output in the time_of_day slice.'>Baseload</span></label>:</th>
				<td data-editable='false'><input form='TechUpdateForm_{{id}}' type='checkbox' title='Baseload?' id='IsBaseload_{{id}}' {{#technology.baseload}}checked='checked'{{/technology.baseload}} /></td>
			</tr><tr>
				<th><label for='IsStorage_{{id}}'><span title='If checked, this technology may use more energy in any time_of_day slice, provided it makes up the difference in other time_of_day slices.'>Storage</span></label>:</th>
				<td data-editable='false'><input form='TechUpdateForm_{{id}}' type='checkbox' title='Storage?' id='IsStorage_{{id}}' {{#technology.storage}}checked='checked'{{/technology.storage}} /></td>
			</tr><tr>
				<th><label for=''><span title=''>Capacity to Activity</span></label>:</th>
				{{#if technology.capacitytoactivity}}
				<td class='cell_has_data'>{{technology.capacitytoactivity}}</td>
				{{else}}
				<td class='empty_cell'></td>
				{{/if}}
			</tr><tr>
				<th><label for=''><span title=''>Growth Rate Limit</span></label>:</th>
				{{#if technology.ratelimit}}
				<td class='cell_has_data'>{{technology.ratelimit}}</td>
				{{else}}
				<td class='empty_cell'></td>
				{{/if}}
			</tr><tr>
				<th><label for=''><span title=''>Growth Rate Seed</span></label>:</th>
				{{#if technology.rateseed}}
				<td class='cell_has_data'>{{technology.rateseed}}</td>
				{{else}}
				<td class='empty_cell'></td>
				{{/if}}
			</tr><tr>
				<th><label for=''><span title=''>Expected Life</span></label>:</th>
				{{#if technology.lifetime}}
				<td class='cell_has_data'>{{technology.lifetime}}</td>
				{{else}}
				<td class='empty_cell'></td>
				{{/if}}
			</tr><tr>
				<th><label for=''><span title=''>Loan Length</span></label>:</th>
				{{#if technology.loanlife}}
				<td class='cell_has_data'>{{technology.loanlife}}</td>
				{{else}}
				<td class='empty_cell'></td>
				{{/if}}
			</tr>
		</tbody>
	</table>
	<table id='TechnologyDetail_CapacityFactor_{{technology.id}}'>
		<caption><span title=''>Capacity Factors</span></caption>
		<thead>
			<tr><th>Time Slice:</th>
				{{#each analysis.segfracs}}<th>{{name}}</th>{{/each}}
			</tr>
		</thead>
		<tbody>
			<tr><th>CF:</th>
				{{#each technology.capacityfactors}}
				{{#if .}}
				<td class='cell_has_data'>{{value}}</td>
				{{else}}
				<td class='empty_cell'></td>
				{{/if}}{{/each}}
			</tr>
		</tbody>
	</table>
	<table id='TechnologyDetail_InputSplit_{{technology.id}}'>
		<caption><span title=''>Input Energy Splits</span></caption>
		<thead>
			<tr><th>Input</th><th>Percentage</th></tr>
		</thead>
		<tbody>
			{{#each technology.inputsplits}}
			<tr>
				<td class='cell_has_data'>{{inp}}</td>
				<td class='cell_has_data'>{{value}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<table id='TechnologyDetail_OutputSplit_{{technology.id}}'>
		<caption><span title=''>Output Energy Splits</span></caption>
		<thead>
			<tr><th><button type="button" class="add" name="AddOutputSplit">Add</button></th><th>Output</th><th>Fraction</th></tr>
		</thead>
		<tbody>
			{{#each technology.outputsplits}}
			<tr data-id='{{id}}' {{data 'split'}}><th><span class='error'></span></th>
				<td data-param='out_commodity'>{{#if out_commodity}}{{out_commodity}}{{else}}COMMODITY{{/if}}</td>
				<td data-param='fraction'>{{value}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<table id='TechnologyDetail_MaxMinCapacity_{{technology.id}}'>
		<caption>Maximum and Minimum Capacities</caption>
		<thead>
			<tr><th>Vintages:</th>
				{{#each analysis.future_periods}}<th>{{.}}</th>{{/each}}
			</tr>
		</thead>
		<tbody>
			<tr data-name='maximum'><th>Max:<span class='error'></span></th>
				{{#each technology.maxmincapacities}}
				<td data-mmc_id='{{id}}' data-period_id='{{period_id}}'>{{maximum}}</td>
				{{/each}}
			</tr>
			<tr data-name='minimum'><th>Min:<span class='error'></span></th>
				{{#each technology.maxmincapacities}}
				<td data-mmc_id='{{id}}' data-period_id='{{period_id}}'>{{minimum}}</td>
				{{/each}}
			</tr>
		</tbody>
	</table>
	<table id='TechnologyDetail_ProcessAttributes_{{technology.id}}'>
		<thead>
			<tr>
				<th>Vintages:</th>
			{{#each technology.vintages}}<th>{{.}}</th>{{/each}}
			</tr>
		</thead>
		<tbody>
			<tr data-name='costinvest'>
				<th>Investment Cost:</th>
				{{#each technology.processes.costinvest}}
				<td data-pid='{{pId}}'>{{costinvest}}</td>
				{{/each}}
			</tr><tr data-name='discountrate'>
				<th>Discount Rate (decimal):<span class='error'></span></th>
				{{#each technology.processes.discountrate}}
				<td data-pid='{{pId}}'>{{discountrate}}</td>
				{{/each}}
			</tr><tr data-name='existingcapacity'>
				<th>Existing Capacity:<span class='error'></span></th>
				{{#each technology.processes.existingcapacity}}
				<td data-pid='{{pId}}'>{{existingcapacity}}</td>
				{{/each}}
			</tr><tr data-name='lifetime'>
				<th>Expected Life (years):</th>
				{{#each technology.processes.lifetime}}
				<td data-pid='{{pId}}'>{{lifetime}}</td>
				{{/each}}
			</tr><tr data-name='loanlife'>
				<th>Loan Length (years):</th>
				{{#each technology.processes.loanlife}}
				<td data-pid='{{pId}}'>{{loanlife}}</td>
				{{/each}}
			</tr>
		</tbody>
	</table>
</div>